@use "foundation/breakpoints" as breakpoints;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "blocks/all";
@import "pages/all";

.assets--list {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  gap: 1rem;

  @include breakpoints.tablet {
    gap: 0.5rem;
  }

  .asset--item {
    @apply z-10 relative w-max;

    @include breakpoints.desktop {
      height: 150px;
    }

    @include breakpoints.tablet {
      height: 6.25rem;
    }

    @include breakpoints.mobile {
      height: 4.6875rem;
    }

    img {
      @apply w-full h-full object-fill;
    }

    .item--form {
      @apply hidden text-white absolute top-1 right-1;

      button {
        @apply p-1 hover:bg-gray-500 hover:rounded-full hover:bg-opacity-50;

        svg {
          width: 1.15rem;
          height: 1.15rem;
        }
      }
    }

    &:hover {
      .item--form {
        @apply block;
      }

      .item--link {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(0deg, #00000015, #0000009e);
        }
      }
    }
  }
}
