{% extends 'layout/registration.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create an account
{% endblock %}
{% block content %}
<div class="registration">
  <header class="registration--header">
    <h1 class="header--title">Getting Started</h1>
    <p class="header--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat itaque, nisi natus veritatis magni quis a dolorem eligendi doloribus, vero architecto? Maiores accusamus molestias natus nobis ipsum dolore magni at!</p>
  </header>
  <form action="{% url 'accounts:signup' %}" method="post" class="registration--form form" >
    {% csrf_token %}
    <div class="form--fields">
      {{ form|crispy }}
    </div>
    <!-- <div class="form--fields">
      <div class="fields--separator text-center">Or</div>
      <p class="py-2 px-4 bg-gray-100">Login with Google</p>
      <p class="py-2 px-4 bg-gray-100">Login with Twitter</p>
    </div> -->
    <div class="form--fields">
      <input type="hidden" name="next" value="{{next}}">
      <button type="submit">Sign-up</button>
    </div>
    <div class="form--fields">
      <p>Already have an account? <a href="{% url 'accounts:login'%}">Login here.</a></p>
    </div>
  </form>
</div>
{% endblock %}